.cart-container{
    display: flex;
}

.koszyk-container{
    height: auto;
    background: linear-gradient(60deg, #9900f1, #c57600);
    margin: 2rem;
    padding: 2rem;
    border-radius: 5rem;
    float: left;
}

.podsumowanie-container{
    height: 40rem;
    background: linear-gradient(-60deg, #9900f1, #c57600);
    margin: 2rem;
    padding: 2rem;
    border-radius: 5rem;
    float: left;
}

.podsumowanie-container>button{
    width: 100%;
    margin-bottom: 1rem;
}

.wozek>p{
    text-align: right;
}

@media (max-width: 1000px) {
    .cart-container {
        display: flex;
        flex-direction: column;
    }
}