.logowaniePage {
  display: flex;
}

.logowanienastrone {
  height: 45rem;
  background: linear-gradient(45deg, #5c00f1, #00c5bb);
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
}

.opcjeLogowania {
  height: 40rem;
  background: linear-gradient(45deg, #5c00f1, #00c5bb);
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
}

.opcjeLogowania > h1 {
  margin-bottom: 2rem;
}

.opcjeLogowania > section {
  text-align: center;
  background-color: #3d3d3d;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  height: 3rem;
  line-height: 3rem;
  cursor: pointer;
}

.opcjeLogowania > section:hover,
.wyloguj > section:hover {
  background-color: #3d3d3d;
  scale: 1.05;
}

.wyloguj {
  width: 10rem;
  height: 7rem;
  background: linear-gradient(45deg, #5c00f1, #00c5bb);
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
}

.wyloguj > section {
  text-align: center;
  background-color: #3d3d3d;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  height: 3rem;
  line-height: 3rem;
  cursor: pointer;
}

.logowanienastrone form {
  margin-bottom: 5rem;
}

.partLog {
  width: 50%;
  float: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input[type="password"],
input[type="text"] {
  margin-bottom: 1rem;
}

.btn-custom {
  margin-right: 3rem;
}

@media (max-width: 1000px) {
  .logowaniePage {
    display: flex;
    flex-direction: column;
  }
}


.h1Welcome {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 600;
  text-transform: uppercase;
}

.spanWelcome {
  text-align: center;
  color: #fff;
  display: inline-block;
  opacity: 0;
  width: 3rem;
  transform: translateY(20px) rotate(90deg);
  transform-origin: left;
  animation: in 1.9s forwards;
  animation-delay: 0.1s;
}

@keyframes in {
  0% {
      opacity: 0;
      transform: translateY(50px) rotate(90deg);
  }

  25%, 99% {
      opacity: 1;
      transform: translateY(0) rotate(0);
  }
  100%{
    opacity: 0;
  }
}

#welcomeDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:center;
  justify-content: center;
  background: linear-gradient(45deg, #5c00f1, #00c5bb);
  animation: welcomeGone 2s forwards;
}
.testerowski{
  margin: 0 1rem;
  display: block;
}

@keyframes welcomeGone {

  0%,
  90% {
      opacity: 1;
      height: 100vh;
  }

  100% {
      visibility: hidden;
      height: 0px;
  }
}